﻿@model _12110161_Web.Models.Comment

@{
    ViewBag.Title = "_AddComment";
}
@using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { id="my-comment"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>
       <div class="editor-field">
               @Html.EditorFor(model => model.Body)
               @Html.ValidationMessageFor(model => model.Body)
       </div>  
        @Html.Hidden("idpost",ViewData["idpost"])
       <p>
           <input type="submit" value="Comment" />
        </p>
    </fieldset>
}
<script src="~/Scripts/addComment.js"></script>
