﻿@model _12110161_Web.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sumary)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Sumary)
            @Html.ValidationMessageFor(model => model.Sumary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.TheLoaiID, "TheLoai")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TheLoaiID", String.Empty)
            @Html.ValidationMessageFor(model => model.TheLoaiID)
        </div>
        <div class="editor-label">
            Tag:
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => new _12110161_Web.Models.Tag().Content)
            @Html.ValidationMessageFor(model => new _12110161_Web.Models.Tag().Content)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
