﻿@model _12110161_Web.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sumary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sumary)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DayCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
    </div>
</fieldset>
<h3>Tags</h3>
<hr />
<fieldset>
    <legend>Tags</legend>
    @foreach(var item in Model.Tags)
    {
        <div class="display-field">
            @Html.DisplayFor(x=>item.Content)
        </div>
    }
</fieldset>

@Html.Partial("_AddComment",new _12110161_Web.Models.Comment(), ViewData )

<h3>Bình luận gần đây</h3>
<hr />
<fieldset>
    <legend>Comments</legend>
    <div id="result">
        @foreach (var cm in Model.Comments.OrderByDescending(x => x.DayCreate).Take(10))
        { 
            <div class="dislay-field">
                <h2 style="font-family: 'Times New Roman'; font-size: 16px; font-weight: bold;">Tạo cách đây: @Html.DisplayFor(c => cm.LastTime) phút trước.
                </h2>
            </div>
            <div class="dislay-field">
                <h2 style="font-family: 'Times New Roman'; font-size: 16px;">
                    @Html.DisplayFor(c => cm.Body)
                </h2>
            </div>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
