﻿@model _12110161_Web.Models.Comment

<div class="dislay-field">
    <h2 style="font-family: 'Times New Roman'; font-size: 16px; font-weight: bold;">
        Tạo cách đây: @Html.DisplayFor(model => model.LastTime) phút trước.
    </h2>
</div>
<div class="dislay-field">
    <h2 style="font-family: 'Times New Roman'; font-size: 16px;">
        @Html.DisplayFor(model =>model.Body)
    </h2>
</div>
