﻿@model _12110161_Web.Models.TheLoai

@{
    ViewBag.Title = "Details";
}

<div class="display-field font" style="font-size:-webkit-xxx-large" >
        @Html.DisplayFor(model => model.TenTheLoai)
</div>
<hr />
<fieldset>
    <legend>Comments</legend>
        @foreach (var cm in Model.Posts.OrderByDescending(x => x.DayCreate).Take(10))
        { 
            <div class="display-label" style="font-size:20px; font-weight:bold;">
                @Html.DisplayFor(c => cm.Title)
            </div>

            
            <div class="display-field" style="font-size:14px; font-weight:bold">
                @Html.DisplayFor(c => cm.Sumary)
            </div>
            
            <div class="display-field">
                @Html.DisplayFor(c => cm.Body)
            </div><div class="display-label">
                @Html.DisplayNameFor(c=>cm.DayCreate): @Html.DisplayFor(c => cm.DayCreate)
            </div>
            <hr />
        }
    
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
