﻿@model _12110161_Web.Models.BangXepHang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BangXepHang</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenDoiBong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenDoiBong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoTran)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoTran)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Thang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Thua)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Thua)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hoa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hoa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HieuSo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HieuSo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Diem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Diem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
