﻿@model _12110161_Web.Models.BangXepHang

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BangXepHang</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenDoiBong)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenDoiBong)
            @Html.ValidationMessageFor(model => model.TenDoiBong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoTran)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoTran)
            @Html.ValidationMessageFor(model => model.SoTran)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Thang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Thang)
            @Html.ValidationMessageFor(model => model.Thang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Thua)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Thua)
            @Html.ValidationMessageFor(model => model.Thua)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hoa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hoa)
            @Html.ValidationMessageFor(model => model.Hoa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HieuSo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HieuSo)
            @Html.ValidationMessageFor(model => model.HieuSo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Diem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diem)
            @Html.ValidationMessageFor(model => model.Diem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TheLoaiID, "TheLoai")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TheLoaiID", String.Empty)
            @Html.ValidationMessageFor(model => model.TheLoaiID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
