﻿@model IEnumerable<_12110161_Web.Models.BangXepHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDoiBong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTran)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HieuSo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDoiBong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTran)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HieuSo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
