﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("BongDaTongHop.Com", "Index", "Post")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @*<li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                            <li>@Html.ActionLink("ĐăngBài", "Create", "Post")</li>
                            @*<li>@Html.ActionLink("XemBài", "Index", "Post")</li>*@
                        </ul>
                    </nav>
                </div>
            </div>
        </header>


        <div id="body">
            <hr />
            <nav class="mainMenu">
                <ul id="menuTheLoai">
                    <li>@Html.ActionLink("Home", "Index", "Post")</li>
                    <li><a href="http://localhost:64909/Menu/Details/5" >Việt Nam</a></li>
                    <li><a href="http://localhost:64909/Menu/Details/2" >Champion League</a></li>
                    <li><a href="http://localhost:64909/Menu/Details/1" >Anh</a></li>
                    <li><a href="http://localhost:64909/Menu/Details/4" >Tây Ban Nha</a></li>
                    <li><a href="http://localhost:64909/Menu/Details/7" >Đức</a></li>
                    <li><a href="http://localhost:64909/Menu/Details/6" >Italia</a></li>
                    <li><a href="http://localhost:64909/Menu/Details/3" >Pháp</a></li>
                    
                </ul>
            </nav>
            <hr />
            @RenderSection("featured", required: false)
            @RenderBody()
            
        </div>

        @Html.Partial("CacTrangLink")

        <footer>
            @Html.Partial("Footer")
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
