﻿@model _12110161_Web.Models.LichThiDau

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LichThiDau</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuNha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuNha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TiLe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TiLe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Khach)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Khach)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
