﻿@model _12110161_Web.Models.LichThiDau

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LichThiDau</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChuNha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChuNha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TiLe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TiLe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Khach)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Khach)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
